html {
    background-color: #151519;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
}
#navLinks_login{
    cursor: pointer;
}
.container {
    border: 1px solid #e3b23c;
    border-radius: 4px;
}
/* Font Design */
@import url(//db.onlinewebfonts.com/c/5721c258554db5405f1e10d6cbe056d1?family=FrankfurterHigD);
nav {
    color: rgb(12, 11, 11);
    background: #e3b23c;
    grid-column: 1/ span 2;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px;
    border-radius: 4px;
}
/*nav:hover{
    cursor: pointer;
    background: #e3b23c;
}*/
.navLinks {
    margin-left: 20px;
    align-self: center;
    /* justify-self: flex-end; */
}
.navLinks >ul {
    list-style: none;
    justify-self: flex-end;
}
.navLinks>ul>li {
    display: inline-block;
    margin: 10px;
    font-family: 'FrankfurterHigD';
}
.navHeader {
    font-family: 'FrankfurterHigD';
    flex-grow: 1;
    margin: 10px;
    align-self: center;
    text-transform: capitalize;
    letter-spacing: 5px;
}

main {
    grid-column: 1/ span 2;
    width: 100%;
    grid-row: 2;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main_container {
    width: 50%;
    height: 50%;
    display: flex;
    margin: auto;
    box-sizing: border-box;
}
.main_container_api {
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;
    box-sizing: border-box;
}
#buttonContainer{
    width: 100%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
#entertainMeBtn {
    font-size: 90px;
}
#apiResults{
    width: 100%;

}
button{
    font-family: 'FrankfurterHigD';
    color: #6E675F;
    background: none;
    width: 100%;
    height: 110px;
    border: 1px;
    border-radius: 25px;
    letter-spacing: 10px;
}


button:hover,button:focus{
    transition: background 1s;
    cursor: pointer;
    background: #e3b23c;
    
}
button:hover:before{
    transform: translate(300px) skewX(-15deg);
    opacity: .7s;
    transition: 7s;
}
button:hover:after{
    transform: translate(300px) skewX(-15deg);
    opacity: 1;
    transition: 7s;
}
#playerContainer {
    display: none;
    opacity: 0;

}

@keyframes videoOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.save {
    font-family: 'FrankfurterHigD';
    color: #6E675F;;
    background: none;
    border: 1px;
    font-size: 30px;
    border-radius: 4px;
    letter-spacing: 3px;
    margin: 10px auto;
}
#saveButton{
    font-size: 40px;
}
.container_footer_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    color: #6E675F;
    font-family: 'FrankfurterHigD';
    text-align: center;
    align-items: center;
    transform: translate(-5, -5%);
    background: none;
    border: 1px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}
.container_footer_left:hover {
    cursor: pointer;
    background: #e3b23c;
}
.container_footer_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    color: #6E675F;
    font-family: 'FrankfurterHigD';
    text-align: center;
    align-items: center;
    transform: translate(-5, -5%);
    background: none;
    border: 1px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}
.container_footer_right:hover {
    cursor: pointer;
    background: #e3b23c;
}

/* The modal code */
/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: transparent;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%;
  }

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: lightgrey;
    text-decoration: none;
    cursor: pointer;
  }