html {
    background-color: #151519;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
#navLinks_login{
    cursor: pointer;
}
.container {
    border: 1px solid #e3b23c;
    border-radius: 4px;
    height: fit-content;
    overflow: auto;
}
/* Font Design */
@import url(//db.onlinewebfonts.com/c/5721c258554db5405f1e10d6cbe056d1?family=FrankfurterHigD);
nav {
    color: rgb(12, 11, 11);
    background: #e3b23c;
    grid-column: 1/ span 2;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px;
    border-radius: 4px;
}
/*nav:hover{
    cursor: pointer;
    background: #e3b23c;
}*/
.navLinks {
    margin-left: 20px;
    align-self: center;
    /* justify-self: flex-end; */
}
.navLinks >ul {
    list-style: none;
    justify-self: flex-end;
}
.navLinks>ul>li {
    display: inline-block;
    margin: 10px;
    font-family: 'FrankfurterHigD';
}
.navHeader {
    font-family: 'FrankfurterHigD';
    flex-grow: 1;
    margin: 10px;
    align-self: center;
    text-transform: capitalize;
    letter-spacing: 5px;
}
.navHeader>a{
    text-decoration: none;
    color: black;
}
main {
    grid-column: 1/ span 2;
    width: 100%;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main_container {
    display: flex;
    margin: auto;
    box-sizing: border-box;
}
.main_container_api {
    flex-grow: 1;
    width: 800px;
    display: flex;
    margin: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.apiResults {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*
The main container will have a collapse
*/
main.expanded {
    min-height: 600px;
    height: fit-content;
}


#nyt_tmdb {
    /*font-family: 'FrankfurterHigD';*/
    font-size: 22px;
    color: #a39594;
}
#buttonContainer{
    width: 100%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
}
#img {
    max-width: 250px;
}
#entertainMeBtn {
    font-size: 90px;
}

button{
    font-family: 'FrankfurterHigD';
    color: #6E675F;
    background: none;
    width: 100%;
    height: 110px;
    border: 1px;
    border-radius: 25px;
    letter-spacing: 10px;
}


#entertainMeBtn:hover,#entertainMeBtn:focus{
    transition: background 1s;
    cursor: pointer;
    background: #e3b23c;
    
}
#entertainMeBtn:hover:before{
    transform: translate(300px) skewX(-15deg);
    opacity: .7s;
    transition: 7s;
}
#entertainMeBtn:hover:after{
    transform: translate(300px) skewX(-15deg);
    opacity: 1;
    transition: 7s;
}
#playerContainer {
    display: none;
    opacity: 0;
    width: 100%;
    height: 600px;
}

@keyframes videoOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.save {
    font-family: 'FrankfurterHigD';
    color: #6E675F;
    background: none;
    border: 1px;
    font-size: 30px;
    width: 200px;
    border-radius: 4px;
    letter-spacing: 3px;
    margin: 15px auto;
    padding: 0px;
    display: none;
}
#saveButton{
    font-size: 40px;
}
.container_footer_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    color: #6E675F;
    font-family: 'FrankfurterHigD';
    text-align: center;
    align-items: center;
    /* transform: translate(-5, -5%); */
    background: none;
    border: 1px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}
.container_footer_left:hover {
    cursor: pointer;
    background: #e3b23c;
}
#about{
    font-family: 'FrankfurterHigD';
    color: #6E675F;
    background: none;
    border: none;
    font-size: 18px;
    border-radius: 1px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about_link{
    text-decoration: none;
    color: #6E675F;
}
.container_footer_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 120px;
    color: #6E675F;
    font-family: 'FrankfurterHigD';
    text-align: center;
    align-items: center;
    transform: translate(-5, -5%);
    background: none;
    border: 1px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}
.container_footer_right:hover {
    cursor: pointer;
    background: #e3b23c;
}

/* The modal code */

.modalSaved {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

  /* Modal Content/Box */
.modal-saved-content {
    background-color: rgba(200, 200, 200, 0.9);
    margin: 5% auto; 
    padding: 20px;
    width: 100%;
    color: #6E675F;
    font-family: 'FrankfurterHigD';
}

#saved-content{
    font-family: 'FrankfurterHigD';
    color: #6E675F;
    background: none;
    border: none;
    font-size: 18px;
    border-radius: 1px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  /* The Close Button */
.closeSaved {
    color: #6E675F;
    float: right;
    font-size: 28px;
}

.closeSaved:hover,
.closeSavede:focus {
    color: #a39594;
    text-decoration: none;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content/Box */
.modal-content {
    background-color: transparent;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%;
}

/* The Close Button */
.close {
    color: #6E675F;
    float: right;
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: lightgrey;
    text-decoration: none;
    cursor: pointer;
  }
  #nyt_tmdb {
      width: 100%;
      height: 100%;
      text-align: center;
      display: none;
  }

  #errorStats {
      font-size: 25px;
      color: red;
      text-align: center;
  }
  #savedContentRender{
      display: flex;
      justify-content: space-evenly;
      align-content: center;
      text-align: center;
      margin: auto;
  }
  .savedUserContent{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  }
  .userSavedInfo{
    border: 1px solid black;
    margin: 10px 5px;
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #amazonURL{
      color: #6E675F;
      text-decoration: none;
  }
  a.button5{
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    }
    a.button5:hover{
        text-shadow: 0 0 2em rgba(255,255,255,1);
        color:#FFFFFF;
        border-color:#FFFFFF;
        cursor: pointer;
}
.lds-hourglass {
    display: none;
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: -15px;
    box-sizing: border-box;
    border: 40px solid #e3b23c;
    border-color: #e3b23c transparent #e3b23c transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  
@media all and (max-width:30em){
    a.button5{
    display:block;
    margin:0.4em auto;
    }

}

@media all and (max-width: 900px) {
    #savedContentRender {
        flex-wrap: wrap;
    }
    #entertainMeBtn {
        font-size: 45px
    }
    .main_container_api {

        width: 100%;
    }
    .navHeader{
        letter-spacing: -1px;
    }
    #playerContainer {
        height: 200px;
    }
}
@media all and (max-width: 400px) {
    #entertainMeBtn {
        font-size: 30px
    }
}